.menu {
    width:500px;
    margin:auto;
background-color: aqua;
}
body {
    background-image: url("../images/restaurantImage.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
   }
   .Pvalidator {
    /* border: 2px solid black; */
    outline: #398dbe double 10px;
    background-color: rgb(167, 211, 252);

    /* opacity: 0.7; */
    margin: auto;  
    padding: 20px;
    text-align: center;
    
  }
  .navbar a {
    float: left;
    background-color: black;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar ul li {
    display: inline;
    padding: 100px;
  }
  
  .navbar ul li a {
    color: #055a3e;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  