.menu {
    width:80%;
    border: 5px solid rgb(0, 0, 0);
    border-style:double;
    margin:auto;
background-color: rgb(238, 190, 118);
}
body {
    background-image: url("../images/restaurantImage.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
   }
   .Pvalidator {
    outline: #398dbe double 10px;
    background-color: rgb(167, 211, 252);
    position:absolute;
    width:80%;
    margin:60px;
padding:50px;
text-align: center;
    
  }
  .navbar a {
    float: right;
    background-color: black;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar ul li {
    display: inline;
    padding: 100px;
  }
  
  .navbar ul li a {
    color: #055a3e;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  .navbar a:hover { 
    background: #ddd;
    color: black;
  }
  .logo{
    background-image: url("../images/logo.png");
  }
.title{
    font-family: cursive, fantasy, monospace;
    text-align: center;
} 
/* index.html */
.content{
  width:80%;
    border: 5px solid rgb(0, 0, 0);
    border-style:double;
    margin:60px;
padding:30px;
text-align: center;
font-family: Georgia, Times, 'Times New Roman', serif;
background-color: rgb(238, 190, 118);
}